.img_btns {
  display: flex;
  justify-content: space-between;
  transition: all 0.4s;
  opacity: 1;
  z-index: 1000000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.prev,
.next {
  width: 42px;
  height: 42px;
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  outline: 0;
  color: var(--main-white);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.img_btns button:hover {
  background-color: var(--main-purple);
}
