.productListing {
  display: flex;
  background-color: var(--main-grey);
  margin-bottom: 20px;
}

.productListing_card {
  display: flex;
  width: 81rem;
  justify-content: space-between;
}

.list_wrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  padding: 20px 10px;
  min-height: 100vh;
}
.banner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-white);
  justify-content: space-between;
  /* background-color: red; */
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(211, 211, 211);
}

.banner img {
  border-radius: 10px;
  /* height: 30vh; */
  width: 30%;
  object-fit: cover;
  padding: 10px 10px;
}

.banner_hide {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-white);
  justify-content: space-between;
  /* background-color: red; */
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(211, 211, 211);
}
.banner_hide img {
  border-radius: 10px;
  height: 30vh;
  object-fit: cover;
  padding: 10px 10px;
}

.none {
  display: none !important;
}

@media screen and (max-width: 820px) {
  .productListing_card {
    display: flex;
    flex-direction: column;
  }

  .banner_hide {
    display: none !important;
  }
  .banner_hide img {
    display: none !important;
  }
}
@media screen and (max-width: 787px) {
  .list_wrapper {
    display: flex;
    justify-content: space-around;
  }
}
