.home {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-white);
}
.top_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_main_img {
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.home_main_img img {
  width: 100%;
  object-fit: cover;
  animation: imgSlide 2s forwards;
  border-radius: 10px;
}
.top_offers {
  width: 100%;
  padding: 40px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  /* background-color: var(--main-grey); */
}
.top_offers_header {
  /* background-color: var(--main-purple); */
  background: rgba(0, 0, 0, 0.4);

  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 17px;
  margin: 20px 0px;
  /* border-radius: 10px; */
  color: var(--main-white);
}
.top_offers_list_cont {
  padding: 10px 0px;
  /* background-color: var(--main-purple); */
  /* border-radius: 20px; */
}
.swiper-container {
  padding: 10px 10px !important;
}
.banner_img {
  width: 100%;
}

.banner_img img {
  width: 100%;
  object-fit: fill;
}
.bn {
  margin-bottom: 50px;
}

/* ////// ANIMATIONS  /////// */

@keyframes imgSlide {
  0% {
    opacity: 0;
    margin-right: 10px !important;
  }
  100% {
    opacity: 1;
    margin-right: 0px !important;
  }
}

/* ////////////  MEDIA QUARIES //////////// */

@media screen AND (max-width: 500px) {
  .home_main_img img {
    height: 30vh;
  }
}
