.filter {
  flex: 0.3;
  background-color: var(--main-white);
  margin-top: 20px;
  transition: all 0.3s;
  border-radius: 5px;
}
.filter_close {
  flex: 0 !important;
  width: 45px;
  background-color: var(--main-white);
  margin-top: 20px;
  transition: all 0.3s;
}
.title_and_burger {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  position: sticky;
  top: 13%;
}
.title {
  margin-left: 50px;
  font-size: 20px;
  letter-spacing: 2px;
}
.burger_icon {
  font-size: 25px;
  color: var(--main-purple);
  cursor: pointer;
}
.filters_wrapper {
  position: sticky;
  top: 20%;
  opacity: 1;
  transition: all 0.1s;
}
.filters_wrapper_hide {
  position: sticky;
  top: 20%;
  display: hidden;
  opacity: 0;
}
.filters_wrapper_hide > .search_filter input {
  width: 20px;
}
.search_filter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search_filter input {
  border: 1px solid var(--main-purple);
  outline: 0;
  width: 220px;
  height: 30px;
  padding: 0 10px;
  color: var(--main-white);
  background-color: var(--main-purple);
  transition: all 0.6s;
}

.search_filter input::placeholder {
  color: var(--main-white);
  font-size: 14px;
  letter-spacing: 2px;
}
.filter_brands {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 40px;
}
.filter_brands_title {
  color: var(--main-black);
}
.brands_list {
  width: 100%;
  margin: 10px 0;
}

.brands_list li {
  list-style: none;
  width: 90%;
  margin: 0px 0px;
  color: var(--main-purple);
  cursor: pointer;
  padding: 12px 0;
  transition: all 0.3s;
}
.brands_list li:hover {
  border-bottom: 1px solid rgb(231, 231, 231);
}
.filter_price {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 40px;
}
.filter_price_title {
  color: var(--main-black);
  margin-bottom: 10px;
}
.price_filter_inputs {
  display: flex;
}
.price_from,
.price_to {
  /* margin-top: 10px; */
  width: 60px;
  height: 30px;
  margin-right: 5px;
  padding-left: 10px;
  border: 0;
  background-color: var(--main-white);
  outline: 0;
  transition: all 0.6s;
  color: var(--main-purple);
  border: 1px solid var(--main-purple);
}
.price_from_hide,
.price_to_hide {
  width: 0px;
  height: 30px;
}

.price_from::placeholder,
.price_to::placeholder {
  color: var(--main-purple);
  font-size: 14px;
  letter-spacing: 2px;
}
.ok_btn {
  outline: 0;
  border: 0;
  background-color: var(--main-purple);
  color: var(--main-white);
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.restart_btn {
  outline: 0;
  border: 1px solid var(--main-purple);
  background-color: var(--main-purple);
  width: 40px !important;
  height: 30px !important;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restart_icon {
  /* font-size: 18px; */
  width: 20px;
  background-color: var(--main-purple);
  color: var(--main-white);
}

/* //////////////////////////////// */
@media screen and (max-width: 787px) {
  .filter {
    width: 100%;
    min-height: 60px !important;
    margin: 10px 0;
    border-radius: 8px;
  }
}
