.filter {
  width: 300px;
  background-color: var(--main-white);
  margin-top: 20px;
  transition: all 0.3s;
  border-radius: 5px;
  padding: 10px 10px;
  height: 100%;
  margin-bottom: 20px;
}
.filter_close {
  flex: 0;
  width: 45px !important;
  margin-top: 20px;
  transition: all 0.3s;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-white);
  position: relative;
}
.filter_close > .filter_wrapper > .title_and_burger {
  display: flex;
  flex-direction: column;
  height: 140px;
  position: static;
}
.filter_close > .filter_wrapper > .title_and_burger > .title {
  transform: rotate(90deg);
  margin-left: 0px !important;
  margin-top: 50px;
}
.filter_close > .filter_wrapper > .banner {
  display: none;
}
.filter_wrapper {
  background-color: var(--main-white);
  position: relative;
}
.banner {
  width: 100%;
  display: block;
}
.banner img {
  height: 20vh;
}
.title_and_burger {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}
.title {
  margin-left: 13px;
  font-size: 17px;
  letter-spacing: 4px;
  color: rgb(172, 172, 172);
  transition: all 0.1s;
}

.burger_icon {
  font-size: 25px;
  color: var(--main-purple);
  cursor: pointer;
}
.filters_wrapper {
  opacity: 1;
  transition: all 0.1s;
  position: sticky;
  top: 0%;
  margin-top: 35px;
}
.filters_wrapper_hide {
  display: hidden;
  opacity: 1;
  display: none;
}
.filters_wrapper_hide > .search_filter input {
  width: 20px;
}
.search_filter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search_filter input {
  border: 0;
  border-radius: 5px;
  outline: 0;
  width: 210px;
  height: 30px;
  padding: 0 10px;
  margin: 10px 0;
  color: var(--main-white);
  background-color: var(--main-purple);
  transition: all 0.6s;
}

.search_filter input::placeholder {
  color: var(--main-white);
  font-size: 12px;
  letter-spacing: 2px;
}
.filter_brands {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 40px;
}
.filter_brands_title {
  color: var(--main-black);
}
.brands_list {
  width: 100%;
  margin: 5px 0;
}

.brands_list li {
  list-style: none;
  width: 90%;
  margin: 0px 0px;
  color: var(--main-purple);
  cursor: pointer;
  padding: 7px 0;
  transition: all 0.3s;
}
.brands_list li:hover {
  border-bottom: 1px solid rgb(231, 231, 231);
}
.filter_price {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 40px;
}
.filter_price_title {
  color: var(--main-black);
  margin-bottom: 10px;
}
.price_filter_inputs {
  display: flex;
  align-items: center;
}
.price_from,
.price_to {
  margin-top: 10px;
  width: 60px;
  height: 30px;
  margin-right: 5px;
  padding-left: 10px;
  border: 0;
  background-color: var(--main-white);
  outline: 0;
  transition: all 0.6s;
  color: var(--main-purple);
  border: 1px solid var(--main-purple);
}
.price_from_hide,
.price_to_hide {
  width: 0px;
  height: 30px;
}

.price_from::placeholder,
.price_to::placeholder {
  color: var(--main-purple);
  font-size: 14px;
  letter-spacing: 2px;
}
.ok_btn {
  outline: 0;
  border: 0;
  background-color: var(--main-purple);
  color: var(--main-white);
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.restart_btn {
  outline: 0;
  border: 1px solid var(--main-purple);
  background-color: var(--main-purple);
  width: 40px !important;
  height: 30px !important;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restart_icon {
  font-size: 18px;
  width: 20px;
  background-color: var(--main-purple);
  color: var(--main-white);
}

/* //////////////////////////////// */
@media screen and (max-width: 787px) {
  .filter {
    width: 100% !important;
    border-radius: 8px;
    padding: 20px 20px !important;
    height: 330px;
  }
  .banner {
    background-color: red;
    display: none;
  }
  .banner img {
    border-radius: 30px !important;
    display: none;
  }
  .filters_wrapper {
    width: 100% !important;
  }
  .filter_close > .filter_wrapper > .title_and_burger {
    height: auto;
    flex-direction: row;
  }
  .filter_close {
    width: 100% !important;
    height: 45px;
    background-color: var(--main-white);
    margin-top: 20px;
    transition: all 0.3s;
    display: flex;
    justify-content: left;
  }
  .filter_close > .title_and_burger {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .filter_close > .filter_wrapper > .title_and_burger .title {
    display: block;
    transform: rotate(0deg);
    margin-top: 0 !important;
    margin-left: 30px !important;
    font-size: 16px;
  }
  .title {
    display: none;
  }
  .filter_brands,
  .filter_price {
    margin-left: 10px;
    margin-top: 10px;
    opacity: 1 !important;
  }

  .filters_wrapper {
    height: 0px !important;
  }
  .brands_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
    width: 240px;
  }
  .brands_list li {
    display: inline;
    width: 60px;
    margin: 0 4px;
  }

  .title_and_burger {
    position: static;
  }
  .filters_wrapper {
    position: static !important;
  }
  .filters_wrapper_hide {
    position: static !important;
  }
}

@media screen and (max-width: 336px) {
  .brands_list {
    width: 210px;
  }
}

@media screen and (max-width: 315px) {
  .brands_list {
    width: 200px;
  }
}
@media screen and (max-width: 316px) {
  .filter {
    height: 380px;
  }
  .brands_list {
    width: 180px;
  }
  .search_filter input {
    width: 190px;
    height: 25px;
  }
  .price_from,
  .price_to {
    width: 40px;
  }
  .price_filter_inputs {
    justify-content: space-between;
  }
}
