.filter {
  flex: 0.3;
  background-color: var(--main-white);
  margin-top: 20px;
  transition: all 0.3s;
}
.filter_close {
  flex: 0 !important;
  width: 45px;
  background-color: var(--main-white);
  margin-top: 20px;
  transition: all 0.3s;
}
.title_and_burger {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  position: sticky;
  top: 13%;
}
.title {
  margin-left: 50px;
  font-size: 20px;
  letter-spacing: 2px;
}
.burger_icon {
  font-size: 25px;
  color: var(--main-purple);
  cursor: pointer;
}
.filters_wrapper {
  position: sticky;
  top: 20%;
  opacity: 1;
  transition: all 0.1s;
}
.filters_wrapper_hide {
  position: sticky;
  top: 20%;
  display: hidden;
  opacity: 0;
}
.filters_wrapper_hide > .search_filter input {
  width: 20px;
}
.search_filter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search_filter input {
  border: 1px solid var(--main-purple);
  outline: 0;
  width: 220px;
  height: 30px;
  padding: 0 10px;
  color: var(--main-white);
  background-color: var(--main-purple);
  transition: all 0.6s;
}

.search_filter input::placeholder {
  color: var(--main-white);
  font-size: 14px;
  letter-spacing: 2px;
}

@media screen and (max-width: 787px) {
  .filter {
    width: 100%;
    min-height: 60px !important;
    margin: 10px 0;
    border-radius: 8px;
  }
}
