.card {
  max-width: 81rem !important;
  margin: 0 auto;
}

@media screen and (max-width: 1317px) {
  .card {
    padding: 0px 10px !important;
  }
}

/* @media screen and (max-width: 1324px) {
  .card {
    padding: 0 10px !important;
  }
} */
