.product_wrapper {
  position: relative;
  background-color: var(--main-white);
  width: 186px;
  height: 300px;
  animation: slideCard 1s forwards;
  transition: all 0.3s;
  border-radius: 5px;
}
.product_wrapper:hover .product_title {
  text-decoration: underline;
  text-decoration-color: var(--main-purple);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
.active {
  width: 196px !important;
}
.product {
  background-color: var(--main-white);
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.product_wrapper:hover {
  box-shadow: 0px 0px 10px 1px rgb(191, 191, 191);
  border-radius: 4px;
  /* background-image: linear-gradient(rgb(230, 230, 230), rgb(235, 235, 235)); */
}

.product_img {
  width: 100%;
  height: 200px;
  padding: 20px 0;
}

.product_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product_title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--main-black);
}

.price_and_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 13px;
}
.price {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 10px 0;
  color: var(--main-black);
}
.add_btn {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  outline: 0;
  color: var(--main-purple);
  background-color: var(--main-white);
  font-size: 13px;
  font-weight: bold;
  /* margin: 15px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: absolute;
  right: 3%;
  bottom: 5%;
}
.add_btn:hover {
  background-color: var(--main-purple);
  color: var(--main-white);
}

@media screen and (max-width: 741px) {
  .product {
    width: 305px;
    height: 355px;
    background-color: var(--main-white);
  }
}

@media screen and (max-width: 681px) {
  .product {
    width: 290px;
    height: 345px;
    background-color: var(--main-white);
  }
}

@media screen and (max-width: 651px) {
  .product {
    width: 270px;
    height: 345px;
    background-color: var(--main-white);
  }
}

@media screen and (max-width: 613px) {
  .product {
    width: 250px;
    height: 345px;
    background-color: var(--main-white);
  }
}

@media screen and (max-width: 613px) {
  .product {
    width: 350px;
    height: 345px;
    background-color: var(--main-white);
  }
}

/* /////////////////////  ANIMATIONS //////////////////// */

@keyframes slideCard {
  0% {
    opacity: 0;
    margin-top: 1rem;
  }

  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}
