.product_wrapper {
  position: relative;
  background-color: var(--main-white);
  width: 186px;
  height: 300px;
  animation: slideCard 1s forwards;
  transition: all 0.3s;
  border-radius: 10px;
}
.product_wrapper:hover .product_title {
  text-decoration: underline;
  text-decoration-color: var(--main-purple);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  color: var(--main-purple);
}
.active {
  width: 196px !important;
}
.product {
  background-color: var(--main-white);
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.product_wrapper:hover {
  box-shadow: 0px 0px 10px 1px rgb(191, 191, 191);
  border-radius: 4px;
}

.product_img {
  width: 100%;
  height: 220px;
  padding: 20px 0;
}

.product_img img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  padding: 10px;
}
.product_title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(59, 59, 59);
  transition: all 0.4s;
  padding: 0 5px;
}

.price_and_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 13px;
}
.price {
  width: 100%;
  display: flex;
  justify-content: left;
  color: var(--main-purple);
  font-weight: bold;
  font-size: 13px;
}
.add_btn {
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50%;
  outline: 0;
  color: var(--main-purple);
  background-color: var(--main-white);
  font-size: 7px !important;
  font-weight: bold;
  /* margin: 15px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: absolute;
  right: 3%;
  bottom: 2%;
  border: 1px solid rgb(243, 243, 243);
}
.add_btn:hover {
  background-color: var(--main-purple);
  color: var(--main-white);
}
@media screen and (max-width: 940px) {
  .product_wrapper {
    width: 176px;
    height: 300px;
    background-color: var(--main-white);
  }
}

@media screen and (max-width: 787px) {
  .product_wrapper {
    width: 170px !important;
    height: 300px;
    background-color: var(--main-white);
  }
  .product_wrapper {
    margin-top: 5px !important;
  }
}

@media screen and (max-width: 681px) {
  .product_wrapper {
    width: 189px;
    height: 300px;
    background-color: var(--main-white);
  }
}

@media screen and (max-width: 651px) {
  .product_wrapper {
    width: 270px;
    height: 300px;
    background-color: var(--main-white);
  }
}

@media screen and (max-width: 613px) {
  .product_wrapper {
    width: 250px;
    height: 300px;
    background-color: var(--main-white);
  }
}

@media screen and (max-width: 469px) {
  .product_wrapper {
    width: 150px !important;
    height: 305px;
  }
  .product_title {
    font-size: 13px;
    padding: 0 5px;
    color: rgb(14, 14, 14);
  }
}

@media screen and (max-width: 373px) {
  .product_wrapper {
    width: 140px !important;
    height: 299px;
  }
  .product_title {
    font-size: 12px;
    padding: 0 5px;
    color: rgb(14, 14, 14);
  }
}

@media screen and (max-width: 351px) {
  .product_wrapper {
    width: 230px !important;
    height: 299px;
  }
  .product_title {
    font-size: 16px;
    padding: 0 5px;
    color: rgb(14, 14, 14);
  }
}

@media screen and (max-width: 296px) {
  .product_wrapper {
    width: 200px !important;
    height: 299px;
  }
  .product_title {
    font-size: 16px;
    padding: 0 5px;
    color: rgb(14, 14, 14);
  }
}

@media screen and (max-width: 267px) {
  .product_wrapper {
    width: 190px !important;
    height: 299px;
  }
  .product_title {
    font-size: 16px;
    padding: 0 5px;
    color: rgb(14, 14, 14);
  }
}

/* /////////////////////  ANIMATIONS //////////////////// */

@keyframes slideCard {
  0% {
    opacity: 0;
    margin-top: 1rem;
  }

  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}
