.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--main-white);
  box-shadow: 0px 0px 5px 0.001px grey;
  z-index: 10000000;
}

.navbar_card {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 0; */
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-purple);
}
.logo_item {
  width: 40px;
  height: 40px;
  background-color: var(--main-purple);
  border-radius: 50% 0% 50% 0;
  margin-right: 10px;
}
.navbar_and_cart_wrapper {
  display: flex;
  align-items: center;
}
.cart {
  padding: 0px 5px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart_logo {
  color: var(--main-purple);
  font-size: 30px !important;
}

.amount {
  position: absolute;
  padding: 1px 4px;
  background-color: var(--main-purple);
  border-radius: 50%;
  top: 2%;
  right: 0%;
  color: var(--main-white);
  font-weight: bold;
}
.navbar_menu {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.navbar_menu li {
  list-style: none;
}

.navbar_menu_link {
  text-decoration: none;
  margin: 0 10px;
  padding: 20px 0;
  color: var(--main-purple);
}

.navigation {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 30px 0;
  color: var(--main-purple);
}
.navigation:hover .navigation_dropdown_menu {
  display: flex;
}
.navigation_dropdown_menu {
  display: none;
  min-height: 200px;
  position: absolute;
  background-color: var(--main-purple);
  min-width: 190px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  top: 100%;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown_menu_link {
  text-decoration: none;
  color: #fff;
  width: 100% !important;
  transition: all 0.3s;
  padding: 10px 10px;
}

.dropdown_menu_link:hover {
  background-color: var(--main-purple-light);
  color: var(--main-white);
}
