.navbar {
  width: 100%;
  min-height: 80px !important;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--main-white);
  box-shadow: 0px 0px 5px 0.001px grey;
  z-index: 10000000;
}

.navbar_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-purple);
  width: 140px;
  height: 45px;
  border-radius: 20px;
  background-color: var(--main-purple);
  display: flex;
  align-items: center;
  justify-content: right;
}
.logo_item {
  width: 90px;
  height: 39px;
  margin-right: 1px;
  background-color: var(--main-white);
  border-radius: 20px;
  color: var(--main-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}
.navbar_and_cart_wrapper {
  display: flex;
  align-items: center;
}
.cart {
  padding: 0px 5px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart_logo {
  color: var(--main-purple);
  font-size: 30px !important;
}

.amount {
  position: absolute;
  padding: 1px 4px;
  background-color: var(--main-purple);
  border-radius: 50%;
  top: 1%;
  right: 0%;
  color: var(--main-white);
  font-weight: bold;
}
.navbar_menu {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.navbar_menu li {
  list-style: none;
}

.navbar_menu_link {
  text-decoration: none;
  margin: 0 20px;
  padding: 20px 0;
  color: var(--main-purple);
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 14px !important;
}
.home_icon {
  margin-right: 3px;
  font-size: 18px;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 30px 0;
  color: var(--main-purple);
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px !important;
}
.navigation:hover .navigation_dropdown_menu {
  display: flex;
}
.arrow_down_icon {
  margin-right: 3px;
  font-size: 18px;
}
.navigation_dropdown_menu {
  display: none;
  min-height: 200px;
  position: absolute;
  background-color: var(--main-purple);
  min-width: 190px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  top: 100%;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
}

.dropdown_menu_link {
  text-decoration: none;
  color: #fff;
  width: 100% !important;
  transition: all 0.3s;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.dropdown_menu_link:hover {
  background-color: var(--main-purple-light);
  color: var(--main-white);
}

.nav_drop_menu_icon {
  font-size: 15px !important;
  margin-right: 5px;
}

/* /////////////////////////////////// */

@media screen and (max-width: 552px) {
  .navbar_menu_link {
    margin: 0 7px;
  }
  .navbar_menu {
    margin-right: 10px;
  }
  .logo {
    width: 50px !important;
  }
  .logo_item {
    width: 100%;
  }
}
