.cart_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 20px;
}
.cart_item_img {
  width: 100px;
  height: 100px;
}

.cart_item_img img {
  width: 100%;
}
.cart_item_title {
  width: 210px;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(58, 58, 58);
}
.btns_cont {
  width: 100px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(220, 220, 220);
  padding: 10px 10px;
}
.increase,
.decrease {
  border: 0;
  outline: 0;
  background-color: var(--main-white);
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(136, 136, 136);
}
.price {
  color: rgb(136, 136, 136);
  font-size: 16px;
}
.remove_btn {
  width: 140px;
  height: 40px;
  border: 1px solid var(--main-purple);
  outline: 0;
  background-color: var(--main-white);
  color: var(--main-purple);
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.remove_btn:hover {
  background-color: var(--main-purple);
  color: var(--main-white);
}
