.footer {
  width: 100%;
  background-color: var(--main-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subscription_cont {
  width: 100%;
  height: 100px;
  background-color: var(--main-purple);
}
.footer_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100% !important;
  height: 100%;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.footer_links_and_map_cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_links_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column !important;
}
.only_links_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_link_card {
  min-width: 150px;
  margin-top: 15px;
  display: flex;
  height: auto;
}
.footer_link_card span {
  width: 15px;
  height: 15px;
  border-radius: 0 50% 0 50%;
  background-color: var(--main-purple);
}
.links_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.links_wrapper h4 {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(81, 38, 97);
}
.links {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.links a {
  margin: 6px 0;
  color: grey;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}
.links a:hover {
  color: var(--main-purple);
}
.contact {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.email_cont,
.phone_cont {
  display: flex;
  align-items: center;
}
.email_icon,
.phone_icon {
  font-size: 25px !important;
  color: var(--main-purple);
}
.email,
.phone {
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(85, 74, 83);
}
.phone_cont {
  margin-left: 15px;
}

.map_cont {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* //////////////// */
.footer_bottom {
  width: 100%;
  height: 50px;
  background-color: rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_bottom p {
  font-size: 13px;
  color: grey;
  padding: 0 10px;
}
@media screen and (max-width: 339px) {
  .phone_cont {
    margin-left: 0;
    margin-top: 5px;
  }
}
@media all and (min-width: 600px) {
  .footer_links_wrapper {
    width: 70%;
  }
  .footer_links_card {
    width: 240px;
  }
  .map_cont {
    justify-content: left;
  }
}

@media all and (min-width: 880px) {
  .footer_links_card {
    width: 240px;
  }
  .map_cont {
    width: auto;
    justify-content: left;
    margin-top: 0;
  }
}
