.cart_modal {
  background-color: var(--main-white);
  width: 300px;
  max-height: 90vh;
  position: fixed;
  top: 0%;
  right: 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 30px 1px rgb(166, 166, 166);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 20px;
  padding-left: 5px;
  transition: all 0.3s;
  z-index: 811111111111111111111111111111111111111111;
}
.wrapper {
  overflow-y: scroll;
  min-height: 210px;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
.title_and_close {
  display: flex;
  align-items: center;
  padding-right: 20px;
  position: sticky;
  top: 0;
  background-color: var(--main-white);
  padding-top: 16px;
  padding-right: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.close_icon {
  cursor: pointer;
  font-size: 12px;
  color: rgb(153, 153, 153);
  transition: all 0.3s;
}
.close_icon:hover {
  color: var(--main-purple);
}
.cart_title {
  text-align: left;
  padding: 15px 10px;
  position: sticky;
  top: 0;
  background-color: var(--main-white);
}
.empty {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(127, 127, 127);
}
.remove {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s;
  color: rgb(74, 74, 74);
  font-size: 13px;
}
.remove:hover {
  color: var(--main-purple);
}
.cart_modal_item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.cart_modal_item_img {
  width: 50px;
  height: 50px;
  margin-left: 4px;
}
.cart_modal_item_img img {
  width: 100%;
}
.title {
  letter-spacing: 2px;
  font-size: 10px;
  color: rgb(84, 84, 84);
  margin: 1px;
  margin-left: 10px;
}
.amount_btns_cont {
  margin-top: 7px;
}
.increase,
.decrease {
  border: 0;
  outline: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: 20px;
  color: var(--main-purple);
  border-bottom: 1px solid rgb(225, 225, 225);
  font-weight: bold;
  background-color: var(--main-white);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.amount {
  margin: 0 3px;
}
.price {
  flex: 1;
  height: 100%;
  font-size: 12px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 30px;
}
.total {
  width: 100%;
  text-align: right;
  padding-right: 20px;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sub_total {
  color: rgb(107, 107, 107);
}
.open_cart_btn_cont {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.open_cart_btn {
  text-decoration: none;
  outline: none;
  width: 100%;
  height: 50px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 63, 59, 0.7);
  border-radius: 5px;
  color: var(--main-white);
  font-size: 17px;
  font-weight: bold;
  transition: all 0.3s;
}
.open_cart_btn:hover {
  background-color: var(--main-purple);
}

@media screen and (max-width: 787px) {
  .cart_modal {
    top: 0%;
    z-index: 1000000000000000000000000000000;
  }
}

@media screen and (max-width: 340px) {
  .cart_modal {
    top: 0%;
    right: 4%;
    z-index: 1000000000000000000000000000000;
  }
}

@media screen and (max-width: 328px) {
  .cart_modal {
    top: 0%;
    right: 3%;
    z-index: 1000000000000000000000000000000;
  }
}
@media screen and (max-width: 318px) {
  .cart_modal {
    top: 0%;
    right: 2%;
    z-index: 1000000000000000000000000000000;
    width: 250px;
  }
}
