.error {
  background-color: red !important;
  color: var(--main-white) !important;
  letter-spacing: 2px !important;
}
.succsess {
  background-color: var(--main-purple) !important;
  color: var(--main-white) !important;
  letter-spacing: 2px !important;
}

.swiper-container {
  padding: 10px 0px !important;
}
