.error {
  background-color: red !important;
  color: var(--main-white) !important;
  letter-spacing: 2px !important;
}
.succsess {
  background-color: var(--main-purple) !important;
  color: var(--main-white) !important;
  letter-spacing: 2px !important;
}

.swiper-container {
  padding: 10px 0px !important;
}
#progress-bar {
  background-color: red;
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
