:root {
  --main-white: rgb(255, 255, 255);
  --main-grey: rgb(238, 238, 238);
  --main-purple: rgb(195, 0, 255);
  --main-purple-light: rgb(165, 14, 211);
  --main-black: #000;
}
.swiper-pagination-bullet-active {
  background-color: var(--main-purple) !important;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--main-grey);
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
